/*
* @Author: cewei
* @Date:   2018-07-03 21:11:21
* @Last Modified by:   cewei
* @Last Modified time: 2018-07-03 21:24:25
*/
.logo-container{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 50px;
}